.hero-banner {
    display: flex;
    height: 400px;
    justify-content: space-around;
    gap: 1rem;
}

.hero-banner img {
    height: 100%
}

.hero-banner-text {

}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    img {
        width: 100vw;
        padding: 1.5em;
    }

    div {
        text-align: center;
    }
}